@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<p>
    <a class="btn btn-success" href="~/Customers/Create">Create New Customer</a>
</p>
<br />


<p>
    <a class="btn btn-success" href="~/Products/Create">Create New Product</a>
</p>
<br />


<p>
    <a class="btn btn-success" href="~/Orders/Create">Create New Order</a>
</p>
<br />


<p>
    <a class="btn btn-success" href="~/Orders">View Orders</a>
</p>
<br />

