<configuration>  
   <runtime>  
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  
         <dependentAssembly>
			<assemblyIdentity name="calc"
							  publicKeyToken="3c60054e9a568f2b"
							  culture="neutral"/>
			 <bindingRedirect oldVersion="0.0.0.0"
							  newVersion="1.0.0.0"/>
		 
		 </dependentAssembly>
	    
      </assemblyBinding>  
      
   </runtime>  
   
</configuration>  
