
@{
    ViewData["Title"] = "test2";
}

<h1>test2</h1>
<form action="/home/test2/" method="post">
    <label>Enter number 1:</label>
    <input type="text" name="num1" required />
    <br /><br />
    <label>Enter number 2:</label>
    <input type="text" name="num2" required />
    <br /><br />
    <input type="submit" value="Submit" />

</form>
The answer is @ViewBag.ans


