
@{
    ViewData["Title"] = "test1";
}

<h1>test1</h1>
<br />
<br />
<h3 class="btn btn-primary"> Num1:      </h3>&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge-success">@ViewBag.num1</span>
<br />
<h3 class="btn btn-primary">Num2:       </h3>&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge-success">@ViewBag.num2</span>
<br />
<h3 class="btn btn-primary"> The addition of the two numbers is:</h3>
&nbsp;&nbsp;&nbsp;&nbsp;
<span class="badge-success">@ViewBag.ans</span>

